.login {
    background-image: url(../../assets/login/MaskGroup5.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100% !important;
}

.login .row {
    width: 100%;
}

.login .content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    max-width: 400px; /* Added max-width to make it responsive */
    margin: 0 auto; /* Center the content horizontally */
}

.login .logo img {
    width: 100%; /* Adjust the logo width to fit the container */
    max-width: 250px; /* Limit the logo's max width */
    height: auto; /* Allow the height to adjust proportionally */
}

.login h2 {
    font-family: Amiri-Bold;
    letter-spacing: 0;
    color: var(--color-red);
    opacity: 1;
    font-size: 20px;
    margin: 5px 0;
}

.login p {
    font-size: 18px;
    margin: 5px 0;
    text-align: right;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0;
    color: #242424;
}

.login .create-account {
    font-size: 20px;
    color: var(--primary-color);
    text-decoration: none;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: right;
}

.login input {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin: 5px 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px #2C27380A;
    border: 1px solid #DBE2EA;
    border-radius: 6px;
    opacity: 1;
}

.submit-button {
    width: 100%;
    padding: 10px 20px;
    background-color: #002e6d;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    background: #002E6D;
    box-shadow: 0px 4px 8px #2C273814;
    border-radius: 6px;
    opacity: 1;
    margin-top: 10px;
}


